.container {
  text-align: center;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.links a {
  display: block;
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
