.container {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-group {
  position: relative;
}

.input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-input {
  position: relative;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.eye-icon {
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  outline: none;
  border: 1px solid green;
  box-shadow: none;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 18px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.error {
  border: 1px solid red !important;
}
.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media only screen and (max-width:550px){
  .container{
    max-width: 90%;
    margin: 50px auto;
  }
  .text-danger{
    font-size: 12px !important;
  }
}
@media only screen and (max-width:400px){
    .form-group{
    margin-bottom: 10px !important;
  }
  .form-control,.btn-primary{
    padding: 6px !important;
  }
  label{
    margin-bottom: 2px !important;
  }
}
